
.description {
    text-align: center;
    padding-bottom: 50px;
}

p {
    font-size: 24px;
    line-height: 2;
}

#container {
    width: 900px;
    text-align: center;
    border: 4px solid black;
    padding-bottom: 200px;
    margin-left: 500px;
    border-radius: 10px;
}

.myButtons {
    display: flex;
    justify-content: space-around;
}

#one, #two, #three {
    padding: 24px;
    font-size: 24px;
    font-weight: bold;
    background-color: slategray;
    border-radius: 8px;
}